{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<div id="footer">
  <div id="wrapperLogoFooter">
    <img src="{% static 'images/FHLogo.jpg' %}" alt="FH Logo" class="FHlogo" />
  </div>

  <div id="navigationFooter">
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a id="linkData" class="nav-link-footer" href="{% url 'gdpr' %}">{% trans 'Datenschutz' %}</a>
      </li>
      <p id="navigation">|</p>
      <li class="nav-item">
        <a id="linkImpressum" class="nav-link-footer" href="{% url 'impressum' %}">{% trans 'Impressum' %}</a>
      </li>
    </ul>
  </div>
</div>