{% load i18n %}
{% block content %}
{% get_current_language as LANGUAGE_CODE %}
<div class="parent">
    <div id="wrapper">
        <div id="opener">
            <div id="littleWrapper">
                <div id="logo">
                    <h1>
                        <a class="nav-link" href="{% url 'index' %}">TechMap</a>
                    </h1>
                </div>
                <div id="navBar">
                    <ul class="nav justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'contact_form' %}"><label>{% trans 'Kontakt' %}</label></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'diagrams' %}">{% trans 'Statistiken' %}</a>
                        </li>
                        {% if user.is_authenticated %}
                        <li>
                            <a class="nav-link" href="{% url 'dashboard' %}">
                                {% trans 'Profil' %}</a>
                        </li>
                        <li class="nav-item mr-3">
                            <a href="javascript:{document.getElementById('logout').submit()}" class="nav-link">
                                <i class="fas fa-sign-out-alt"></i> Logout
                            </a href="javascript:">
                            <form action="{% url 'logout' %}" method="POST" id="logout">
                                {% csrf_token %}
                                <input type="hidden">
                            </form>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="modal" data-target="#registerModal" href="">
                                {% trans 'Registrieren' %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="modal" data-target="#loginModal" href="">
                                <i class="fas fa-sign-in-alt">Login</i></a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

    <div class="modal fade" id="loginModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginModalLabel">Login</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% include 'partials/_alerts.html' %}
                    <form action="{% url 'login' %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="email">E-Mail-Adresse</label>
                            <input type="text" name="email" class="form-control" required />
                        </div>

                        <div class="form-group">
                            <label for="password2">Password</label>
                            <input type="password" name="password" class="form-control" required />
                        </div>

                        <input type="submit" value="Login" class="btn btn-secondary btn-block" />
                        <a href="{% url 'reset_password' %}" class="btn btn-secondary btn-block">Passwort vergessen?</a>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="registerModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginModalLabel">Registrierung</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% include 'partials/_alerts.html' %}
                    <form action="{% url 'register' %}" method="POST">
                        {% csrf_token %}
                        <div>
                            <div class="form-group">
                                <label for="email">E-Mail-Adresse: *</label>
                                <input type="text" name="email" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="password">Passwort: *</label>
                                <input type="password" name="password" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="password2">Passwort bestätigen: *</label>
                                <input type="password" name="password2" class="form-control" required>
                            </div>
                        </div>
                        <input type="submit" value="Jetzt registrieren" class="btn btn-secondary btn-block">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>