{% extends 'base.html' %}

{% block content %}
<section class="bg-light py-5">
    <div class="container">
        <div class="contactOpener">
            Sie haben Fragen, Anmerkungen oder Wünsche, dann schreiben Sie uns einfach und wir versuchen uns 
            schnellstmöglich um Ihr Anliegen zu kümmern. 
        </div>
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        <h4>
                            <i class="fas"></i>
                            Kontaktformular
                        </h4>
                    </div>
                    <div class="card-body">
                        <form action="{% url 'contact' %}" method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="title" class="col-form-label">Titel:</label>
                                <input type="text" name="title" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="first_name" class="col-form-label">Vorname:</label>
                                <input type="text" name="first_name" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="last_name" class="col-form-label">Nachname:</label>
                                <input type="text" name="last_name" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="email" class="col-form-label">E-Mail-Addresse:</label>
                                <input type="text" name="email" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="phone" class="col-form-label">Telefonnummer:</label>
                                <input type="text" name="phone" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="description" class="col-form-label">Beschreibung:</label>
                                <textarea name="description" class="form-control" style="height: 150px;"></textarea>
                            </div>
                            <input type="submit" value="Erstellen" class="btn btn-block btn-secondary"
                                name="submit_button">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <hr class="my-4">
    </div>
</section>
{% endblock %}