#header {
    height: 50px;
    color: #ffffff;
    /* background-image: url('../images/earth.jpg'); */
    background-color: #10284e;
}

#branding h1 {
    color: #ffffff;
}

div.breadcrumbs {
    background: #DCDCDD;
    color: #10284e;
}

a:link,
a:visited {
    /* color: #10284e; */
    color: rgb(86, 86, 92);
    /* color: #505168; */
}

div.breadcrumbs a {
    color: #10284e;
}

.module h2, .module caption, .inline-group h2 {
    background: rgb(173, 173, 177);
}

.button, input[type=submit], input[type=button], .submit-row input, a.button {
    background: #10284e;
}

.button.default, input[type=submit].default, .submit-row input.default {
    background: #10284e;
}