#opener {
  background-image: url('../images/earth.jpg');
  background-size: 100%;
  height: 22em;
  color: white;
}

.parent {
  position: relative;
}

#littleWrapper {
  display: flex;
  flex-direction: row;
  font-family: Maiandra GD;
  padding-top: 1em;
}

#lupeImage {
  width: 100%;
}

#logo {
  width: 50%;
}

#navBar {
  justify-content: end;
  width: 50%;
}

.nav-link {
  color: #DCDCDD;
  font-size: 1.3em;
}

h1 {
  text-align: center;
  font-size: 5em;
}

h3 {
  font-size: 2rem;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
  color: 505168;
}

/*
    Design des Slogans und Button
 */

#slogan {
  text-align: center;
  padding-bottom: 5em;
  color: #DCDCDD;
  margin-top: 5em;
  position: absolute;
  width: 100%;
  padding-top: 5em;
}

#wrapper {
  position: absolute;
  width: 100%;
}

#toMap {
  background-color: #DCDCDD;  
  border-radius: 0.5em;
  width: 8em;
  height: 2.5em;
  border-style: none;
}

#buttonMap {
  margin-top: 3em;
}

#linkZurMap {
  color: black;
}

.container {
  padding-top: 20em;
}

#wrapperDiagram {
  padding-top: 20em;
}

/*
    Design der Beschreibung
 */

#description {
  display: flex;
  flex-direction: row;
  padding-top: 20em;
}

#descriptionSearch {
  width: 50%;
  padding-left: 5em;
  padding-right: 2.5em;
  padding-top: 5em;
  margin-bottom: -4em;
}

#descriptionWrite {
  width: 50%;
  padding-right: 5em;
  padding-left: 2.5em;
  padding-top: 5em;
  margin-bottom: -4em;
}

.input-group {
  align-items: center;
}

#iconEnvelop {
  text-align: center;
  margin: 0.5em;
  font-size: 3em;
  color: #505168;
}

#iconSearch {
  text-align: center;
  margin: 0.5em;
  font-size: 3em;
  color: #505168;
}

/*
    Design der Suche
 */

.input-group {
  align-items: center;
  display: flex;
  text-align: center;
  width: 50%;
  margin-left: 25%;
}

#wrapperSearch {
  display: flex;
  flex-direction: row;
}

#inputSearch {
  padding-left: 14em;
}

#buttonForSearch {
  padding-left: 1em;
}

/*
    Design der Unternehmensübersicht
 */

h2 {
  text-align: center;
  margin-top: 3em;
  margin-bottom: 1.5em; 
}

.pagination{
  justify-content: center;
}

#wrapperCompany{
  display: flex;
  flex-direction: row;
}

.card {
  margin: 0.8em;
}

.btn-primary {
  background-color: #505168;
  border-color: #505168;
  width: 35%;
  margin-bottom: 1.5em;
  margin-top: 2em;
}

.btn-primary:hover {
  background-color: #477890;
  border-color: #477890;
}

.card-body {
  padding: 1rem;
}

.card-img-top {
  height: 15em;
}

.card-title {
  margin-bottom: 1rem;
}

.card-text {
  margin: 0em;
  margin-bottom: 1.5rem;
}

.page-link {
  color: black;
}

/*
    Design der Kategorien
 */
.categoryButton:hover {
  background-color: #477890;
}

.categoryButton {
  border-style: none;
  background-color: transparent;
}

#leafletMap {
  z-index: -1;
}

/*
    Design des Footers
 */
 
.FHlogo {
  height: 7em;
  margin-left: 1em;
  margin-bottom: 1em;
}

#footer {
  display: flex;
  flex-direction: row;
}

#wrapperLogoFooter {
  width: 80%;
}

#linkData, #linkImpressum {
  color: #477890;
}

.nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0px;
  margin-bottom: 0;
  list-style: none;
  width: 100%;
  padding-right: 2em;
}

a {
  color: black;
}

a:hover {
  color: #477890;
}

/*
 * Design der Map
 */ 
.dropright {
  margin-left: 44%;
  margin-bottom: 1em;
}

#myMap {
  width:  100%;
  height: 50em;
  align-items: center;
}

.moreInfoCompany {
  background-color: #505168;
  color: #DCDCDD;
  border-style: none;
  border-radius: 0.6em;
  width: 7em;
  margin-bottom: 0.5em;
}

#leafletMap {
  display: contents;
}

#kategory {
  display: flex;
  flex-direction: column;
  padding-top: 1em;
}

#map {
  display: flex;
  flex-direction: row;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

#categoryDescription {
  padding: 1em;
  padding-left: 3em;
}

c {
  padding-left: 0.5em;
}

/*
 * Design der Statistikenseite
 */ 
#sloganStatistic {
  text-align: center;
  padding-bottom: 5em;
  color: #DCDCDD;
  margin-top: 3em;
}

/*
 * Design der detaillierten Unternehmensansicht
 */ 
#sloganDetailCompany {
  text-align: center;
  padding-bottom: 5em;
  color: #DCDCDD;
  margin-top: 6em;
}

#companyInfos {
  text-align: center;
  margin-bottom: 6em;
  padding-top: 20em;
}

#wrapperCompanyInfos {
  display: flex;
  flex-direction: row;
}

#companyContactData, #companyDescription {
  margin: 1em;
  margin-top: 3em;
  padding: 2em;
  text-align: center;
}

#companyContactData {
  padding: 1em;
}

#companyContactData {
  margin-left: 6em;
  margin-right: 6em;
  background-color: #505168;
  width: 40%;
  border-radius: 0.8em;
  color: #DCDCDD;
}

#companyDescription {
  padding-left: 3em;
  padding-right: 3em;
  width: 70%;
}

#wrapperContactPerson {
  display: flex;
  flex-direction: row;
}

#contactPersonData {
  padding-left: 3em;
  padding-right: 3em;
  width: 70%;
  text-align: center;
}

#contactPersonPicture {
  margin-left: 6em;
  margin-right: 6em;
  width: 30%;
}

.imageDiv {
  width: 25em;
}

.contactImage {
  width: 15em;
}

#companyCategories {
  text-align: center;
}

/*
 * Design der DSGVO und Impressum
 */ 
p {
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 2em; 
}

h6 {
  font-size: 1.5em;
  margin-left: 1.2em;
  color: #505168;
}

#h6Kontakt {
  margin-top: 1em; 
}

#startTextDSGVO {
  margin-top: 1em;
}

#navigation{
  color: #DCDCDD;
}

h4 {
  text-align: center;
}

a { cursor:pointer}

#dsgvoInfo, #impressumInfo {
  padding-top: 24em;
}

/*
 * Tooltip
*/

.popup {
  /* visibility: hidden; */
  z-index: 1;
  /* background-color: #477890; */
  /* padding-right: 1em; */
  left: 80%;
  top: 50%;
  position: relative;
  text-align: center;
  color: black;
  
}

.box:hover .popup {
  visibility: visible;
  opacity: 1; 
}

.categoryButton {
  width: 3em;
}

/* Tooltip container */
.owntooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.owntooltip .owntooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  /* position: relative; */
  z-index: 1;
  bottom: 80%;
  top: -5px;
  left: 105%;
  /* margin-left: -60px; */

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow
.owntooltip .owntooltiptext::after {
  content: "";
  position: absolute;
  top: 40%;
  right: 100%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #555 transparent transparent;
} */

/* Show the tooltip text when you mouse over the tooltip container */
.owntooltip:hover .owntooltiptext {
  visibility: visible;
  opacity: 1;
}

/*
* Design Kontakt
*/
.contactOpener {
  font-size: 1.5em;
  color: #555;
  padding-top: 2em;
  padding-left: 4em;
  padding-right: 4em;
  padding-bottom: 2em;
  text-align: center;
}

.bg-primary {
  background-color: #505168 !important;
}

.btn {
  background-color: #505168;
  border-color: #505168;
  color: white;
}

#message.container {
  padding-top: 1em;
}

/*
* Design Search
*/

#search {
  padding-top: 20em;
}
