{% extends 'base.html' %}

{% block content %}

<section id="dashboard" class="py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Sie sind angemeldet als {{user.email}}</h2>
        <br>
        {% include 'partials/_alerts.html' %}
        <p>Hier sind Ihre eingetragenen Unternehmen</p>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Unternehmen</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% if companies %}
            {% for company in companies %}
            <tr>
              <form action="{% url 'delete_company' %}" method="POST">
                {% csrf_token %}
                <td>{{ company.company_name }}</td>
                <input type="hidden" name="company_delete" value="{{company.id}}"></input>
                <td>
                  <input type="submit" value="Löschen" class="btn btn-light">
              </form>
              <button class="btn btn-light" data-toggle="modal" data-target="#editModal{{company.id}}">Unternehmen
                bearbeiten</button>

              {% if not no_contact_person.company %}
              <button class="btn btn-light" data-toggle="modal"
                data-target="#contactPersonModal{{company.id}}">Kontaktperson
                hinzufügen</button>
              {% endif %}

              {% if contact_person %}
              {% for cp in contact_person %}
              {% if cp.company == company %}
              <button class="btn btn-light" data-toggle="modal"
                data-target="#editContactPersonModal{{company.id}}">Kontaktperson
                bearbeiten</button>
              {% endif %}
              {% endfor %}
              {% endif %}
              <input type="hidden" name="company_update" value="{{ company.company_name }}"></input>
              </td>
            </tr>
            {% endfor %}
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>
    <button class="btn-primary btn-block btn-lg" data-toggle="modal" data-target="#addModal">Neues Unternehmen
      anlegen</button>
  </div>

  <!-- Company Creation Modal -->
  <div class="modal fade" id="addModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="inquiryModalLabel">Neues Unternehmen anlegen</h5>
          <button type="button" class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="{% url 'create_company' %}" method="POST" name="company_submit" enctype="multipart/form-data">
            {% csrf_token %}
            {% if user.is_authenticated %}
            <input type="hidden" name="user_id" value="{{user.id}}">
            {% else %}
            <input type="hidden" name="user_id" value="0">
            {% endif %}
            <div class="form-group">
              <label for="company_name" class="col-form-label">Name:</label>
              <input type="text" name="company_name" class="form-control" required>
            </div>
            <div class="form-group">
              <label for="company_name" class="col-form-label">Foto:</label>
              <input type="file" name="photo" class="form-control" required>
            </div>
            <div class="form-group">
              <label for="address" class="col-form-label">Adresse:</label>
              <input type="text" name="address" class="form-control" required>
            </div>
            <div class="form-group">
              <label for="zipcode" class="col-form-label">Postleitzahl:</label>
              <input type="number" name="zipcode" class="form-control" min="01067" max="99998" required>
            </div>
            <div class="form-group">
              <label for="city" class="col-form-label">Stadt:</label>
              <input type="text" name="city" class="form-control" required>
            </div>
            <div class="form-group">
              <label for="email" class="col-form-label">E-Mail:</label>
              <input type="email" name="email" class="form-control" required>
            </div>
            <div class="form-group">
              <label for="phone" class="col-form-label">Telefon:</label>
              <input type="text" name="phone" class="form-control" required>
            </div>
            <div class="form-group">
              <label for="category_1" class="col-form-label">Kategorie 1:
                <select name="category_1">
                  <option>Keine Kategorie</option>
                  {% if categories %}
                  {% for category in categories %}
                  <option>{{category.category_name}}</option>
                  {% endfor %}
                  {% else %}
                  <p>Keine Kategorien verfügbar</p>
                  {% endif %}
                </select>
              </label>
              <label for="category_2" class="col-form-label">Kategorie 2:
                <select name="category_2">
                  <option>Keine Kategorie</option>
                  {% if categories %}
                  {% for category in categories %}
                  <option>{{category.category_name}}</option>
                  {% endfor %}
                  {% else %}
                  <p>Keine Kategorien verfügbar</p>
                  {% endif %}
                </select>
              </label>
              <label for="category_3" class="col-form-label">Kategorie 3:
                <select name="category_3">
                  <option>Keine Kategorie</option>
                  {% if categories %}
                  {% for category in categories %}
                  <option>{{category.category_name}}</option>
                  {% endfor %}
                  {% else %}
                  <p>Keine Kategorien verfügbar</p>
                  {% endif %}
                </select>
              </label>
            </div>
            <div>
              <label for="company_type" class="col-form-label">Unternehmenstyp:
                <select name="company_type">
                  {% if company_type %}
                  {% for ct in company_type %}
                  <option>{{ct.company_type_name}}</option>
                  {% endfor %}
                  {% else %}
                  <p>Keine Unternehmenstypen verfügbar</p>
                  {% endif %}
                </select>
              </label>
            </div>
            <div class="form-group">
              <label for="description" class="col-form-label">Kurzbeschreibung:</label>
              <textarea name="description" class="form-control"></textarea>
            </div>
            <hr>
            <input type="submit" value="Erstellen" class="btn btn-block btn-secondary" name="submit_button">
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Company Edit Modal -->
  {% if companies %}
  {% for company in companies %}
  <div class="modal fade" id="editModal{{company.id}}" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editModalLabel">{{company.company_name}}</h5>
          <button type="button" class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="{% url 'update_company' %}" method="POST" name="company_submit" enctype="multipart/form-data">
            {% csrf_token %}
            {% if user.is_authenticated %}
            <input type="hidden" name="user_id" value="{{user.id}}">
            {% else %}
            <input type="hidden" name="user_id" value="0">
            {% endif %}
            <input type="hidden" name="company_update" value="{{company.id}}"></input>
            <div class="form-group">
              <label for="company_name" class="col-form-label">Name:</label>
              <input type="text" name="company_name" class="form-control" value="{{company.company_name}}" required>
            </div>
            <div class="form-group">
              <label for="company_name" class="col-form-label">Foto:</label>
              <input type="file" name="photo" class="form-control" required>
            </div>
            <div class="form-group">
              <label for="address" class="col-form-label">Adresse:</label>
              <input type="text" name="address" class="form-control" value="{{company.address}}" required>
            </div>
            <div class="form-group">
              <label for="zipcode" class="col-form-label">Postleitzahl:</label>
              <input type="number" name="zipcode" class="form-control" min="01067" max="27498"
                value="{{company.zipcode}}" required>
            </div>
            <div class="form-group">
              <label for="city" class="col-form-label">Stadt:</label>
              <input type="text" name="city" class="form-control" value="{{company.city}}" required>
            </div>
            <div class="form-group">
              <label for="email" class="col-form-label">E-Mail:</label>
              <input type="email" name="email" class="form-control" value="{{company.email}}" required>
            </div>
            <div class="form-group">
              <label for="phone" class="col-form-label">Telefon:</label>
              <input type="text" name="phone" class="form-control" value="{{company.phone}}" required>
            </div>
            <div class="form-group">
              <label for="category_1" class="col-form-label">Kategorie 1:
                <select name="category_1">
                  <option>{% if company.category_1 is None %} Keine Kategorie {% else %}
                    {{company.category_1}} {% endif %}</option>
                  {% if categories %}
                  {% for category in categories %}
                  <option>{{category.category_name}}</option>
                  {% endfor %}
                  {% else %}
                  <p>Keine Kategorien verfügbar</p>
                  {% endif %}
                </select>
              </label>
              <label for="category_2" class="col-form-label">Kategorie 2:
                <select name="category_2">
                  <option>{% if company.category_2 is None %} Keine Kategorie {% else %}
                    {{company.category_2}} {% endif %}</option>
                  {% if categories %}
                  {% for category in categories %}
                  <option>{{category.category_name}}</option>
                  {% endfor %}
                  {% else %}
                  <p>Keine Kategorien verfügbar</p>
                  {% endif %}
                </select>
              </label>
              <label for="category_3" class="col-form-label">Kategorie 3:
                <select name="category_3">
                  <option>{% if company.category_3 is None %} Keine Kategorie {% else %}
                    {{company.category_3}} {% endif %}</option>
                  {% if categories %}
                  {% for category in categories %}
                  <option>{{category.category_name}}</option>
                  {% endfor %}
                  {% else %}
                  <p>Keine Kategorien verfügbar</p>
                  {% endif %}
                </select>
              </label>
            </div>
            <div>
              <label for="company_type" class="col-form-label">Unternehmenstyp:
                <select name="company_type">
                  {% if company_type %}
                  {% for ct in company_type %}
                  <option>{{ct.company_type_name}}</option>
                  {% endfor %}
                  {% else %}
                  <p>Keine Unternehmenstypen verfügbar</p>
                  {% endif %}
                </select>
              </label>
            </div>
            <div class="form-group">
              <label for="description" class="col-form-label">Kurzbeschreibung:</label>
              <textarea name="description" class="form-control">{{company.description}}</textarea>
            </div>
            <hr>
            <input type="submit" value="Änderungen speichern" class="btn btn-block btn-secondary" name="submit_button">
          </form>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  {% endif %}

  <!-- Contact Person Modal -->
  {% if companies %}
  {% for company in companies %}
  <div class="modal fade" id="contactPersonModal{{company.id}}" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editModalLabel">Kontaktperson für {{company.company_name}}</h5>
          <button type="button" class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="{% url 'contact_person' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% if user.is_authenticated %}
            <input type="hidden" name="user_id" value="{{user.id}}">
            {% else %}
            <input type="hidden" name="user_id" value="0">
            {% endif %}
            <div class="form-group">
              <label for="contact_person_name" class="col-form-label">Name:</label>
              <input type="text" name="contact_person_name" class="form-control" value="" required>
            </div>
            <div class="form-group">
              <label for="contact_person_photo" class="col-form-label">Foto:</label>
              <input type="file" name="contact_person_photo" class="form-control">
            </div>
            <div class="form-group">
              <label for="contact_person_email" class="col-form-label">E-Mail:</label>
              <input type="email" name="contact_person_email" class="form-control" value="" required>
            </div>
            <div class="form-group">
              <label for="contact_person_phone" class="col-form-label">Telefon:</label>
              <input type="text" name="contact_person_phone" class="form-control" value="" required>
            </div>
            <input type="hidden" name="contact_person_company" value="{{company.id}}">
            <hr>
            <input type="submit" value="Hinzufügen" class="btn btn-block btn-secondary" name="submit_button">
          </form>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  {% endif %}

  <!-- Edit Contact Person Modal -->
  {% if companies %}
  {% for company in companies %}
  <div class="modal fade" id="editContactPersonModal{{company.id}}" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editModalLabel">Kontaktperson für {{company.company_name}}</h5>
          <button type="button" class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="{% url 'update_contact_person' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% if user.is_authenticated %}
            <input type="hidden" name="user_id" value="{{user.id}}">
            {% else %}
            <input type="hidden" name="user_id" value="0">
            {% endif %}
            {% if contact_person %}
            {% for cp in contact_person %}
            {% if cp.company == company %}
            <input type="hidden" name="contact_person_id" value="{{ cp.id }}"></input>
            {% endif %}
            {% endfor %}
            {% endif %}
            <div class="form-group">
              <label for="contact_person_name" class="col-form-label">Name:</label>
              <input type="text" name="contact_person_name" class="form-control" value="" required>
            </div>
            <div class="form-group">
              <label for="contact_person_photo" class="col-form-label">Foto:</label>
              <input type="file" name="contact_person_photo" class="form-control" required>
            </div>
            <div class="form-group">
              <label for="contact_person_email" class="col-form-label">E-Mail:</label>
              <input type="email" name="contact_person_email" class="form-control" value="" required>
            </div>
            <div class="form-group">
              <label for="contact_person_phone" class="col-form-label">Telefon:</label>
              <input type="text" name="contact_person_phone" class="form-control" value="" required>
            </div>
            <input type="hidden" name="contact_person_company" value="{{company.id}}">
            <hr>
            <input type="submit" value="Änderung übernehmen" class="btn btn-block btn-secondary" name="submit_button">
          </form>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  {% endif %}
  <div>
    <hr class="my-4">
  </div>
</section>
{% endblock %}