{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h4>E-Mail wurde verschickt</h4>
                </div>
                <div class="card-body">
                    <p>Sollten Sie keine E-Mail erhalten haben:</p>
                    <p>Überprüfen Sie Ihre eingegebene E-Mail-Addresse und Ihren Spam-Ordner.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}