{% extends 'base.html' %}

{% block content %}
<h3></h3>

<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h4>Passwort erfolgreich zurückgesetzt!</h4>
                </div>
                <div class="card-body" style="text-align: center;">
                    <a href="{% url 'index' %}">Zurück zur Hauptseite</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}