{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h4>Neues Passwort eingeben:</h4>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{form}}
                        <input type="submit" value="Bestätigen" class="btn btn-secondary btn-block" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}