{% extends 'base.html' %}
{% block content %}
<h3>Passwort zurücksetzen</h3>

<p>Passwort vergessen? Geben Sie Ihre E-Mail-Addresse ein und folgen Sie den dort gegebenen Anweisungen, um Ihr Passwort
    zurückzusetzen.</p>



<section id="login" class="bg-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        <h4>Zurücksetzen</h4>
                    </div>
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                {{form}}
                            </div>
                            <input type="submit" name="E-Mail senden" class="btn btn-secondary btn-block">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}