{% extends 'base.html' %}

{% block content %}

<section id="register" class="bg-light py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="card">
          <div class="card-header bg-primary text-white">
            <h4>
              <i class="fas fa-user-plus"></i> Registrierung</h4>
          </div>
          <div class="card-body">
            <!-- Alerts -->
            {% include 'partials/_alerts.html' %}
            <form action="{% url 'register' %}" method="POST">
              {% csrf_token %}
              <div>
                <h3>Benutzerdaten:</h3>
                <div class="form-group">
                  <label for="email">E-Mail-Adresse: *</label>
                  <input type="text" name="email" class="form-control" required>
                </div>
                <div class="form-group">
                  <label for="password">Passwort: *</label>
                  <input type="password" name="password" class="form-control" required>
                </div>
                <div class="form-group">
                  <label for="password2">Passwort bestätigen: *</label>
                  <input type="password" name="password2" class="form-control" required>
                </div>
              </div>              
              </div>
              <input type="submit" value="Jetzt registrieren" class="btn btn-secondary btn-block">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}