{% load static %} {% load leaflet_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Digimap</title>
  <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{% static 'css/all.css' %}" />
  <!-- Bootstrap -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
  <link rel="stylesheet" href="{% static 'css/pages.css' %}" />
  <!-- Leaflet -->
  {% leaflet_css %} {% leaflet_js %}
  <!-- Diagram -->
  <!-- <script src="js/chart.min.js"></script> -->
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.3/Chart.bundle.min.js"></script>
</head>

<body>
  {% include 'partials/_topbar.html' %}
  {% block content %}
  {% endblock %}
  {% include 'partials/_footer.html' %}
  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
</body>

</html>