{% extends 'base.html' %}
{% load staticfiles %}
{% load fontawesome %}
{% load leaflet_tags %}

{% block content %}
{% if companies %}
<div id="companyInfos">
    <h2>{{ companies.company_name }}</h2>
    {{ companies.address }}<br>
    {{ companies.zipcode }} {{ companies.city }}
</div>
{% else %}
nicht geklappt
{% endif %}

<h3>Map</h3>
<div id="map">
    <div id="leafletMap">
        {% leaflet_map "myMap"%}
        <script type="text/javascript">
            window.addEventListener("map:init", function (e) {
                var detail = e.detail;
                var marker = L.marker(['{{ companies.lat }}', '{{ companies.lon }}']).addTo(detail.map);
            }, false);
        </script>
    </div>
</div>

<div id="wrapperCompanyInfos">
    <div id="companyContactData">
        <h5>Kontakt</h5>
        {{ companies.company_name }}
        <br><br>
        {{ companies.address }}<br>
        {{ companies.zipcode }} {{ companies.city }}<br>
        <br><br>
        Telefon:<br> {{ companies.phone }} <br><br>
        E-Mail:<br> {{ companies.email }}
    </div>

    <div id="companyDescription">
        <img class="imageDiv" {% if companies.photo %}src="{{companies.photo.url}}" {% endif %} alt="Company Logo">
        <hr>
        {{ companies.description }}
    </div>
</div>

<h2>Ihr Ansprechpartner</h2>
<div id="wrapperContactPerson">
    <div id="contactPersonData">
        {% if contact_person %}
        {{contact_person.name}}

        <br><br>
        {{contact_person.email}}
        <br><br>
        {{contact_person.phone}}
    </div>
    {% if contact_person.photo %}
    <div id="contactPersonPicture">
        <img class="contactImage" src="{{contact_person.photo.url}}" alt="Contact person photo" />
    </div>
    {% endif %}
    {% endif %}
</div>

<h2>Kategorien des Unternehmens</h2>
<div id="companyCategories">
    {% if category_1 %}
    {{ category_1 }}
    {% endif %}

    {% if category_2 %}
    /
    {{ category_2 }}
    {% endif %}
    
    {% if category_3 %}
    / 
    {{ category_3 }}
    {% endif %}
</div>

<div>
    <hr class="my-4">
</div>
{% endblock %}