{% extends 'base.html' %}
{% load staticfiles %}
{% load fontawesome %}
{% load leaflet_tags %}

{% block content %}


<div id="dsgvoInfo">
    <p id="startTextDSGVO">
        Die Betreiber dieser Seiten nehmen den Schutz Ihrer persönlichen Daten sehr ernst.
        Wir behandeln Ihre personenbezogenen Daten vertraulich und entsprechend der gesetzlichen Datenschutzvorschriften
        sowie dieser Datenschutzerklärung.
        Die Nutzung unserer Webseite ist in der Regel ohne Angabe personenbezogener Daten möglich.
        Soweit auf unseren Seiten personenbezogene Daten (beispielsweise Name, Anschrift oder E-Mail-Adressen) erhoben
        werden, erfolgt dies, soweit möglich, stets auf freiwilliger Basis.
        Diese Daten werden ohne Ihre ausdrückliche Zustimmung nicht an Dritte weitergegeben.
        Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per E-Mail)
        Sicherheitslücken aufweisen kann.
        Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht möglich.
    </p>

    <h6>Auskunft, Löschung, Sperrung </h6>
    <p>
        Sie haben jederzeit das Recht auf unentgeltliche Auskunft über Ihre gespeicherten personenbezogenen Daten,
        deren Herkunft und Empfänger und den Zweck der Datenverarbeitung sowie ein Recht auf Berichtigung, Sperrung oder
        Löschung dieser Daten.
        Hierzu sowie zu weiteren Fragen zum Thema personenbezogene Daten können Sie sich jederzeit unter der im
        Impressum angegebenen Adresse an uns wenden.
        <br>
        Cookies
        <br>
        Die Internetseiten verwenden teilweise so genannte Cookies.
    </p>

    <h6>Cookies</h6>
    <p>
        Cookies richten auf Ihrem Rechner keinen Schaden an und enthalten keine Viren. Cookies dienen dazu, unser
        Angebot nutzerfreundlicher,
        effektiver und sicherer zu machen. Cookies sind kleine Textdateien, die auf Ihrem Rechner abgelegt werden und
        die Ihr Browser speichert.
        Die meisten der von uns verwendeten Cookies sind so genannte „Session-Cookies“. Sie werden nach Ende Ihres
        Besuchs automatisch gelöscht.
        Andere Cookies bleiben auf Ihrem Endgerät gespeichert, bis Sie diese löschen. Diese Cookies ermöglichen es uns,
        Ihren Browser beim nächsten Besuch wiederzuerkennen.
        Sie können Ihren Browser so einstellen, dass Sie über das Setzen von Cookies informiert werden und Cookies nur
        im Einzelfall erlauben,
        die Annahme von Cookies für bestimmte Fälle oder generell ausschließen sowie das automatische Löschen der
        Cookies beim Schließen des Browser aktivieren.
        Bei der Deaktivierung von Cookies kann die Funktionalität dieser Website eingeschränkt sein.
    </p>

    <h6>Server-Log-Files </h6>
    <p>
        Der Provider der Seiten erhebt und speichert automatisch Informationen in so genannten Server-Log Files, die Ihr
        Browser automatisch an uns übermittelt.
        Dies sind: Browsertyp/ Browserversion verwendetes Betriebssystem Referrer URL Hostname des zugreifenden Rechners
        Uhrzeit der Serveranfrage.
        Diese Daten sind nicht bestimmten Personen zuordenbar.
        Eine Zusammenführung dieser Daten mit anderen Datenquellen wird nicht vorgenommen. Wir behalten uns vor, diese
        Daten nachträglich zu prüfen, wenn uns konkrete Anhaltspunkte für eine rechtswidrige Nutzung bekannt werden.
    </p>

    <h6>Kontaktformular</h6>
    <p>
        Wenn Sie uns per Kontaktformular Anfragen zukommen lassen, werden Ihre Angaben aus dem Anfrageformular inklusive
        der von Ihnen dort
        angegebenen Kontaktdaten zwecks Bearbeitung der Anfrage und für den Fall von Anschlussfragen bei uns
        gespeichert.
        Diese Daten geben wir nicht ohne Ihre Einwilligung weiter.
    </p>

    <h6>Widerspruch Werbe-Mails </h6>
    <p>
        Der Nutzung von im Rahmen der Impressumspflicht veröffentlichten Kontaktdaten zur Übersendung von nicht
        ausdrücklich angeforderter
        Werbung und Informationsmaterialien wird hiermit widersprochen. Die Betreiber der Seiten behalten sich
        ausdrücklich
        rechtliche Schritte im Falle der unverlangten Zusendung von Werbeinformationen, etwa durch Spam-E-Mails, vor.
    </p>

    <p id="quellenParagraph">
        Quelle: <a href="https://www.e-recht24.de">eRecht24</a>
    </p>
</div>

<div>
    <hr class="my-4">
</div>
{% endblock %}