{% extends 'base.html' %}
{% load staticfiles %}
{% load fontawesome %}
{% load leaflet_tags %}

{% block content %}

<div id="impressumInfo">
    <h6 id="h6Kontakt">Kontakt</h6>
    <p>
        manuel.urban@stud.hs-flensburg.de
        <br>
        catharine.kraemer@stud.hs-flensburg.de
    </p>

    <h6>Dienstsitz</h6>
    <p>
        Hochschule Flensburg
        <br>
        Kanzleistraße 91-93,
        <br>
        24943 Flensburg
    </p>

    <h6>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV</h6>
    <p>
        Bachelorstudent Manuel Urban
        <br>
        Bachelorstudentin Catharine Krämer
    </p>

    <h6>Konzept, Design und Realisation </h6>
    <p>
        Bachelorstudent Manuel Urban
        <br>
        Bachelorstudentin Catharine Krämer
        E-Mail: siehe Kontakt
    </p>

    <h6>Quellenangaben für die verwendeten Bilder und Grafiken</h6>
    <p>
        <a href="https://pixabay.com/de/">https://pixabay.com/de/</a>
        <br>
        Pixabay
    </p>

    <h6>Hinweis auf EU-Streitschlichtung</h6>
    <p>
        Die Europäische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit:<a
            href="http://ec.europa.eu/consumers/odr">http://ec.europa.eu/consumers/odr</a>
        <br>
        Unsere E-Mail-Adresse finden Sie oben im Impressum.
        <br>
        Quelle: <a href="http://www.e-recht24.de">http://www.e-recht24.de</a>
        <br>
        Quelle: <a href="https://www.e-recht24.de">eRecht24</a>
    </p>
</div>

<div>
    <hr class="my-4">
</div>
{% endblock %}