{% extends 'base.html' %}
{% load static %}
{% load fontawesome %}
{% load leaflet_tags %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block content %}
<div class="parent">
    <div id="slogan">
    <h3>{% trans 'FINDE JETZT DEIN IT-UNTERNEHMEN' %}</h3>
    <div id="buttonMap">
        <button type="button" id="toMap">
            <a id="linkZurMap" href="#mapWrapperIndex"> {% trans 'zur Map' %}</a>
        </button>
    </div>
</div>
</div>


<div id="description">
    <div id="descriptionSearch">
        <div id="iconSearch">
            {% fontawesome_icon 'search' %}
        </div>
        <p>
            {% trans 'Finde mit unserer Hilfe die IT-Unternehmen die du brauchst oder schaffe dir einen Überblick aller Unternehmen Schleswig-Holsteins.' %}
        </p>
    </div>

    <div id="descriptionWrite">
        <div id="iconEnvelop">
            {% fontawesome_icon 'envelope' %}
        </div>
        <p>
            {% trans 'Schreibe die Kontaktperson der Unternehmen deiner Wahl ganz einfach über E-Mail an oder Informiere dich weiter auf der eigenen Unternehmens Home Page.' %}
        </p>
    </div>

</div>

<h2>{% trans 'Suche nach bestimmten Unternehmen' %}</h2>
<div id="searchIndex">
    <!-- <label class="sr-only" for="inlineFormInputGroup">Username</label> -->
    <div class="input-group mb-2">
        <div class="input-group-prepend">
            <!-- <div class="input-group-text">Suche</div> -->
        </div>
        
        <form action="{% url 'search' %}">
            <div id="wrapperSearch">
                <div id="inputSearch">
                    <input type="text" class="form-control" id="inlineFormInputGroup" name="keywords"
                    placeholder="{% trans 'Suche Unternehmen' %}">
                </div>
                <div id="buttonForSearch">
                    <input type="submit" class="input-group-text" id="submitSearch" value="Suche">
                </div>
            </div>
        </form>
        
    </div>
    
    <div id="output"></div>
</div>

<h3>{% trans 'Map aller Unternehmen' %}</h3>
<div id="mapWrapperIndex">
    <div class="btn-group dropright">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            {% trans 'Unternehmensform' %}
        </button>
        <div class="dropdown-menu">
        {% if all_company_types %}
            {% for types in all_company_types %}
                <a class="dropdown-item" 
                    href="{% url 'index' company_type=types category=current_chosen_category %}" onclick="document.getElementById('map').scrollIntoView();">{{types}} </a>
            {% endfor %}
        {% endif %}
        </div>
    </div>

    <div id="map">
        <div id="kategory">
            {% if categories %}
            {% for category in categories %}
            <div id="box">
                <button type="submit" class="categoryButton" id="categoryButtonID"
                    name="{{category.category_name}}">
                    <a id="linkKategorie" class="fa fa-{{ category.category_icon }}"
                        style="color:{{category.category_color}}; font-size: 1.5em"
                        href="{% url 'index' category=category.category_name company_type=current_chosen_company_type %}" onclick="document.getElementById('map').scrollIntoView();"> 
                    </a>
                    <!-- <span class="popup">{{category.category_name}}</span> -->
                </button>
            </div>
            {% endfor %}
            {% endif %}
        </div>

        <div id="leafletMap">
            {% leaflet_map "myMap"%}
            {% if map_fitting_companies %}
            {% for company in map_fitting_companies %}
            {% if company.is_published %}
            <script type="text/javascript">
                window.addEventListener("map:init", function (e) {
                    var detail = e.detail;
                    // show only the companys from the chosen category
                    var marker = L.marker(['{{ company.lat }}', '{{ company.lon }}']).addTo(detail.map);
                    marker.bindPopup(
                        `
                        <form action="{% url 'detail_company' company.id %}" method="POST">
                            {% csrf_token %}
                            <input class="moreInfoCompany" type="submit" name="detailFromCompany" value="mehr Infos">
                            <input type="hidden" name="company_ID" value="{{ company.id }}">
                            <br>
                            {{ company.company_name }}<br>{{ company.address }}<br>{{ company.zipcode }} {{ company.city }}
                        </form> 
                        `
                    ).openPopup();
                }, false);
            </script>
            {% endif %}
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>

<div id="categoryDescription">
    <h5>Legende</h5>
        <div id="infoCategory">
            {% if categories %}
            {% for category in categories %}
            <c>
                <a id="DescKategorie" class="fa fa-{{ category.category_icon }}"
                style="color:{{category.category_color}}; font-size: 1em"></a>
                - {{category.category_name}}
            </c>
            {% endfor %}
            {% endif %}
        </div>
        
</div>

<div id="company">
    <h2>{% trans 'Alle Unternehmen auf einen Blick' %}</h2>

    <div id="wrapperCompany">
        {% if companies %}
        {% for company in companies %}
        {% if company.is_published %}
        <div class="card" style="width: 21rem;">
            <img class="card-img-top" {% if company.photo %}src="{{company.photo.url}}" {% endif %} alt="Company Logo">
            <div class="card-body">
                <h5 class="card-title">{{ company.company_name }}</h5>
                <p class="card-text">{{ company.description }}</p>
                <form action="{% url 'detail_company' company.id %}" method="POST">
                    {% csrf_token %}
                    <input class="btn btn-primary" type="submit" name="detailFromCompany" value="mehr Infos">
                    <input type="hidden" name="company_ID" value="{{ company.id }}">
                </form>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        {% else %}
        <div id="noCompany">
            {% trans 'Es ist noch kein Unternehmen vorhanden.' %}
        </div>
        {% endif %}
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        {% if companies.has_other_pages %}
        <ul class="pagination">
            {% if companies.has_previous %}
            <li class="page-item">
                <a href="?page={{companies.previous_page_number}}" class="page-link">&laquo;</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link">&laquo;</a>
            </li>
            {% endif %}
            {% for i in companies.paginator.page_range %}
            {% if listings.number == i %}
            <li class="page-item active">
                <a class="page-link">{{i}}</a>
            </li>
            {% else %}
            <li class="page-item">
                <a href="?page={{i}}" class="page-link">{{i}}</a>
            </li>
            {% endif %}
            {% endfor %}
            {% if companies.has_next %}
            <li class="page-item">
                <a href="?page={{companies.next_page_number}}" class="page-link">&raquo;</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link">&raquo;</a>
            </li>
            {% endif %}

        </ul>
        {% endif %}
    </div>
</div>

<div>
    <hr class="my-4">
</div>
</div>
{% endblock %}