{% extends 'base.html' %}
{% load static %}
{% load fontawesome %}
{% load leaflet_tags %}

{% block content %}
<div id="search">
    <h2>Suche nach weiteren Unternehmen</h2>
    <div class="input-group mb-2">
        <form>
                <div id="wrapperSearch">
                    <div id="inputSearch">
                        <input type="text" class="form-control" id="inlineFormInputGroup" name="keywords"
                        placeholder="Suche Unternehmen">
                    </div>
                    <div id="buttonForSearch">
                        <input type="submit" class="input-group-text" id="submitSearch" value="Suche">
                    </div>
                </div>
        </form>
    </div>
    <h2>Gefundene Unternehmen</h2>
    <div id="wrapperCompany">
        {% if companies %}
        {% for company in companies %}
        {% if company.is_published %}
        <div class="card" style="width: 21rem;">
            <img class="card-img-top" {% if company.photo %}src="{{company.photo.url}}" {% endif %} alt="Company Logo">
            <div class="card-body">
                <h5 class="card-title">{{ company.company_name }}</h5>
                <p class="card-text">{{ company.description }}</p>
                <form action="{% url 'detail_company' company.id %}" method="POST">
                    {% csrf_token %}
                    <input class="btn btn-primary" type="submit" name="detailFromCompany" value="mehr Infos">
                    <input type="hidden" name="company_ID" value="{{ company.id }}">
                </form>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        {% else %}
        <div id="noCompany">
            Es ist noch kein Unternehmen vorhanden.
        </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-md-12">
            {% if companies.has_other_pages %}
            <ul class="pagination">
                {% if companies.has_previous %}
                <li class="page-item">
                    <a href="?page={{companies.previous_page_number}}" class="page-link">&laquo;</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link">&laquo;</a>
                </li>
                {% endif %}
                {% for i in companies.paginator.page_range %}
                {% if listings.number == i %}
                <li class="page-item active">
                    <a class="page-link">{{i}}</a>
                </li>
                {% else %}
                <li class="page-item">
                    <a href="?page={{i}}" class="page-link">{{i}}</a>
                </li>
                {% endif %}
                {% endfor %}
                {% if companies.has_next %}
                <li class="page-item">
                    <a href="?page={{companies.next_page_number}}" class="page-link">&raquo;</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link">&raquo;</a>
                </li>
                {% endif %}
    
            </ul>
            {% endif %}
        </div>
    </div>
    <!-- <script type="text/javascript">
        searchAJAX();
        function searchAJAX() {
            let url = 'http://127.0.0.1:8000/pages/searchAJAX/';
            let tempUrl;

            document.getElementById("inlineFormInputGroup").addEventListener("input", () => {
                let searchInput = document.getElementById("inlineFormInputGroup").value;
                tempUrl = url + searchInput;

                if (searchInput !== "") {
                    document.getElementById("submitSearch").addEventListener("click", () => {
                        fetch(tempUrl).then((response) => response.json()).then(function (data) {
                            let outputDiv = document.getElementById("wrapperCompany");
                            //remove pre-existing html in output-div
                            while (outputDiv.hasChildNodes()) {
                                outputDiv.removeChild(outputDiv.lastChild);
                            }

                            for (let i = 0; i < data.length; i++) {
                                // console.log(data[i].fields.company_name);
                                let newDiv = document.createElement("div");
                                newDiv.innerHTML = data[i].fields.company_name;
                                outputDiv.appendChild(newDiv);
                                console.log(data[i].fields.company_name);
                            }
                        })
                    });
                }
            });
        }
    </script> -->
    <h2>Gefundene Unternehmen auf der Map</h2>
    <div id="leafletMap">
        {% leaflet_map "myMap"%}
        {% if companies %}
        {% for company in companies %}
        {% if company.is_published %}
        <script type="text/javascript">
            window.addEventListener("map:init", function (e) {
                var detail = e.detail;
                // show only the companys from the chosen category
                var marker = L.marker(['{{ company.lat }}', '{{ company.lon }}']).addTo(detail.map);
                marker.bindPopup(
                    `
                    <form action="{% url 'detail_company' company.id %}" method="POST">
                        {% csrf_token %}
                        <input class="moreInfoCompany" type="submit" name="detailFromCompany" value="mehr Infos">
                        <input type="hidden" name="company_ID" value="{{ company.id }}">
                        <br>
                        {{ company.company_name }}<br>{{ company.address }}<br>{{ company.zipcode }} {{ company.city }}
                    </form> 
                    `
                ).openPopup();
            }, false);
        </script>
        {% endif %}
        {% endfor %}
        {% endif %}
    </div>
    <div>
        <hr class="my-4">
    </div>
    <!-- <p>Test</p> -->
    {% endblock %}