{% extends 'base.html' %}
{% load staticfiles %}
{% load fontawesome %}

{% block content %}
<div id="wrapperDiagram">
    <div id="statisticDiffCategories">
        <h2>Anzahl der Unternehmen in den verschiedenen Kategorien</h2>
            
        <div>
            <canvas id="myChart"></canvas>
        </div>

        <script>
            var helperArray = new Array();
            `{% for label_category in label_name %}`
                helperArray.push('{{ label_category }}');
            `{% endfor %}`

            var helperCountArray = new Array();        
            `{% for label_number in label_count %}`
                helperCountArray.push('{{ label_number }}');
            `{% endfor %}`
        
            var myContext = document.getElementById("myChart");
            var myChartConfig = {
                type: 'bar',
                data: {
                    labels: helperArray,
                    datasets: [
                        {
                        label: "Anzahl Unternehmen",
                        data: helperCountArray,
                        }
                    ]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            }
            var myChart = new Chart(myContext, myChartConfig);
        </script>
    </div>

    <div>
        <hr class="my-4">
    </div>
</div>
{% endblock %}